.App {
  text-align: center;
  color: white;
}

.header {
  font-weight: bold;
  font-size: 2rem;
}

#task-list {
  margin: 2rem auto 0 auto;
  width: min(90%, 40rem);
}

#next-item {
  margin: 2em auto 0 auto;
  width: 20rem;
}

#next-item .header {
  margin: 0 0 0.3em 0;
}

input, textarea {
  padding: 1.5%;
  width: 97%;
  height: 1.5rem;
  margin-bottom: 0.5rem;

  border: none;
  border-radius: 0;
  font: inherit;
  font-size: 1rem;
}

textarea {
  /* clamp doesn't work here */
  height: 6rem;
  min-height: 1.5rem;
  max-height: 16rem;
  resize: vertical;
}

div.split-row {
  height: 2.5rem;
}

div.split-row * {
  height: 100%;
  width: 48%;
}

input[type="color"] {
  float: left;
  /* Firefox is a special child */
  padding: initial;
}

input[type="color"]:hover, input[type="date"]:hover {
  cursor: pointer;
}

button {
  background-color: white;
  float: right;
  border: none;
  border-radius: 0;
  font: inherit;
}

button:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

button:active {
  background-color: #e4e4e4;
}
