.App {
  text-align: center;
  color: white;
}

#task-list {
  margin: 2rem auto 0 auto;
  width: min(90%, 40rem);
}

#next-item {
  margin: 2rem auto 0 auto;
  width: 20rem;
}

#header {
  margin: 0 0 0.5rem 0;
  font-size: 2rem;
  user-select: none;
}

#header:hover, .task-header:hover {
  background: #00000011;
  cursor: pointer;
}

#header:active, .task-header:active {
  background: #0000001B;
}

input, textarea {
  width: 97%;
  height: 1.5rem;
  font: inherit;
  font-size: 1rem;

  border: none;
  border-radius: 0;
  padding: 1.5%;
  margin-bottom: 0.5rem;
}

input[type="color"]:hover, input[type="date"]:hover {
  cursor: pointer;
}

textarea {
  /* clamp doesn't work here */
  height: 6rem;
  min-height: 1.5rem;
  max-height: 16rem;
  resize: vertical;
}

div.split-row {
  height: 2.5rem;
}

div.split-row * {
  height: 100%;
  width: 48%;
}

input[type="color"] {
  float: left;
  /* Firefox is a special child */
  padding: initial;
}

button {
  background-color: white;
  float: right;
  border: none;
  border-radius: 0;
  font: inherit;
}

button:hover {
  background: #eeeeee;
  cursor: pointer;
}

button:active {
  background: #e0e0e0;
}
